[submodule "plugins/nerdtree"]
	path = plugins/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "snipmate"]
	path = snipmate
	url = git://github.com/csexton/snipmate.vim.git
[submodule ".vim/bundle/vim-haml"]
	path = .vim/bundle/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://github.com/wincent/Command-T.git
